{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": [
    "flow-vars",
    "babel"
  ],
  "env": {
    "browser": true,
    "mocha": true
  },
  "ecmaFeatures": {
    "experimentalObjectRestSpread": true,
    "classes": true
  },
  "rules": {
    "strict": 0,
    "brace-style": [2, "stroustrup", {"allowSingleLine": true}],
    "max-len": 0,
    "no-unused-vars": [1, { "vars": "all", "args": "after-used" }],
    "flow-vars/define-flow-type": 1,
    "flow-vars/use-flow-type": 1,
    "import/no-extraneous-dependencies": 0,
    "import/no-unresolved": 0,
    "import/prefer-default-export": 0,
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0,
    "react/forbid-prop-types": 0,
    "class-methods-use-this": 0
  }
}
